{% extends 'base.html' %}
{% block page_title %}Error{% endblock %}
{% block content %}
<div class="errorWrap">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-2">
                <i class="fas fa-exclamation-triangle"></i>
            </div>
            <div class="col-sm-10">
                <div class="errorText">
                    <h1>404 Error</h1>
                    <h1>It seems the page you are looking for either does not
                        exist or you do not have the correct permissions to view it</h1>
                </div>
                <span class = "button_wrap">
                    <a th:href="@{/}"><button class = "btn btn-success">Back to Home Page</button></a>
                </span>
            </div>
        </div>
    </div>
</div>
{% endblock content %}