body {
    box-sizing: border-box;
} 

.banner_image {
    background-color:red;
    text-align: center;
    font-size: 10em;
    padding:.5em;
    margin-bottom: .5em;
}

/*PAGE FOR VIEWING PROPERTY LISTINGS*/
.propertyCard {
    padding:1em;
    margin:1em 0;
}

.propertyCard img {
    width:96%;
    height:17em;
}
.propertyCard .carousel-inner {
    height: 100%;
}
.propertyCard form {
    text-align: center;
}

.propertyCard .button_wrap {
    text-align: center;
    margin:.5em 0 0 0;
    letter-spacing: .2em;
} /*Button for viewing a specific property page*/

.propertyCard .button_wrap i {
    padding:0 1em;
}


.remaining_bid_time_seconds {
    visibility: hidden;
} /*Hide the remaining bid time in seconds to the user*/